include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc

	div.content-cc.home
	
		//- banner 
		div.banners
			+banner('banner-0')
	
		//- menu
		+menu
		
		div.container-txt
		
			h1 Curso Virtual de Leucemia Linfoblástica Aguda
		
			p Bienvenidos a nuestro diplomado, para la Universidad El Bosque y AMGEN es muy importante contar con usted. Lo invitamos a leer los lineamientos en los que encontrará la guía académica y de navegación en el curso.
				
							
			//- footer section			
			+footer
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			