include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc

	article.content-cc.article
	
		//- menu
		+menu
	
		div.container-txt
	
			//- titulo modulo
			+titulos-modulo('Módulo 2', 'Fisiopatología de la leucemia linfoblástica aguda')
			
			//- banner modulo 1
			+banner-video('video-mod-2')
		
			h3 ¿Qué es la Linfopoyesis?
			
			p El sistema Linfoide normal se compone de los órganos linfoides primarios y secundarios. En los adultos la médula ósea y el timo hacen el papel de órganos primarios, lugar de donde nacen los linfocitos T y B. Todo este proceso se origina desde la célula madre pluripotente, después estas células maduran sin requerir antígenos. 
			p Los linfocitos que maduran en la médula ósea se llaman linfocitos B, una de sus funciones es la de producir anticuerpos como respuesta a estímulos antigénicos. Los que maduran en el timo son los linfocitos T, y son los responsables de las respuestas inmunes producidas por las mismas células.
			p Los órganos linfoides secundarios son el Bazo, los ganglios linfáticos y los tejidos linfoides asociados a mucosas, piel y aparato digestivo, es en estos órganos en donde se inician las respuestas inmunes. 
			
			h3 ¿Qué son los linfocitos?
			
			p Los Linfocitos son células con una importante plasticidad inmunogénica, ya mencionamos que los T son los responsables de la inmunidad celular (es decir defendernos de virus, y de algunas bacterias por medio de receptores en las membranas celulares) y los Linfocitos B, de la inmunidad humoral (es decir que nos defienden de infecciones por medio de la secreción de anticuerpos e inmunoglobulinas). La mayoría de los Linfocitos maduros tienen una larga vida y algunos persisten como células de memoria en nuestro cuerpo por muchos años (NL, 1999) 
			
			h3 Leucemia Linfoblástica Aguda (LLA)
			
			p Las leucemias agudas son proliferaciones clonales malignas de células hematopoyéticas inmaduras de tipo blástico que pueden afectar la médula ósea, sangre periférica y otros tejidos como la piel y el bazo. Recordemos que según los parámetros de la OMS (2016 & 127(20):2391-2405., 2016) la cantidad de blastos debe ser igual o mayor al 20%. La infiltración por blastos provoca una disminución y en muchos casos reemplazo total de la hematopoyesis normal. 
			p El hecho de encontrar blastos en la médula ósea o en la sangre periférica no significa que se tenga una leucemia aguda, existen situaciones clínicas en las que pueden producirse células morfológicamente similares, en algunos casos de infecciones virales, tumores sólidos, anemias hemolíticas, anemias carenciales se ha observado una alteración que se denomina “reacción leucemoide”, que como su nombre lo indica es el aumento transitorio de leucocitos sanguíneos asociado a células inmaduras, que pueden ser linfoides, mieloides o linfomieloides, y se diferencian de una leucemia aguda porque no tienen un curso fatal (HILTS & SHAW, 1953), por eso es tan importante el diagnóstico integrado entre una excelente cito morfología, citometría de flujo, biología molecular y citogenética. 
			
			h3 Etiología
			
			p Hablar de una etiología específica en el desarrollo de las leucemias agudas es muy apresurado, es evidente que la transformación maligna de una célula es un proceso multifactorial que en las leucemias linfoblásticas ocurren durante la linfopoyesis. A nivel molecular pueden ocurrir diferentes procesos, por ejemplo la transformación de un protooncogén en un oncogén, o la pérdida de un gen supresor cuya consecuencia es la transformación de una célula precursora hematopoyética en una célula leucémica, en algunos casos todos estos procesos parecen ser la combinación de diferentes factores, entre ellos los genéticos y/o ambientales, pero también es cierto que en muchos de los pacientes no se encuentra ningún factor de riesgo identificable. 
			
			
			h3 Radiaciones ionizantes
			
			p Dentro de los factores externos relacionados con la LLA, la radiación ocupa un lugar importante. Las células hematopoyéticas son altamente sensibles a la muerte por radiación ya que esta induce rupturas de las cadenas del DNA (ácido desoxirribonucleico), que pueden ser de cadena única que se reparan rápidamente, pero los daños de doble cadena pueden derivar en rearreglos cromosómicos como translocaciones, inversiones y/o deleciones que pueden ser el inicio de una neoplasia (JD, 2002).
			p El tratamiento del cáncer con radioterapia y quimioterapia también aumenta el riesgo de leucemia, se ha asociado en mayor proporción al uso de inhibidores de topoisomerasas (etopósido), agentes alquilantes (ciclofosfamida, melfalan), o el cisplatino, moléculas que se unen directamente al DNA ocasionando daños irreparables similares a los mencionados previamente (Travis LB, 2000).
			
			
			h3 Exposicionales
			
			p La exposición a sustancias tóxicas como el benceno, conocido hidrocarburo usado como materia prima en la fabricación de plásticos, fibras sintéticas, pesticidas, tintes, y en el humo del cigarrillo parece estar asociada con un aumento en el riesgo. Numerosos estudios han demostrado que la exposición a altos niveles de esta sustancia se pueden correlacionar con una mayor incidencia de leucemia, desde el año 1982 está clasificado como un agente cancerígeno y en 2002 la revista Americana de Industria Médica publicó un estudio que demostró el riesgo incrementado de desarrollar leucemia aguda en los trabajadores expuestos a esta sustancia (Guenel P, 2002).
			
								
					
			+progreso-modulo('progreso30')
					
			
			//- Material modulo
			+material-modulo('material-mod-2')
			
		//- progreso y contador
		+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=303054&chapterid=9049', 'back', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=303054&chapterid=9051', 'forward', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			