include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc

	article.content-cc.article
	
		//- menu
		+menu
	
		div.container-txt
	
			//- titulo modulo
			+titulos-modulo('Módulo 3', 'Tratamiento de leucemia linfoblástica aguda')
			
			//- banner modulo 1
			+banner-video('video-mod-3')

				
			h3 Tratamiento de LLA-B Filadelfia positivo
			
			p La identificación del cromosoma filadelfia se ha considerado tradicionalmente como una alteración citogenética de alto riesgo y por lo tanto de pronóstico adverso. Sin embargo, a la fecha, esta es la única alteración citogenética que una vez documentada se traduce en un cambio de conducta terapéutica. Antes del advenimiento de los inhibidores de tirosina quinasa (ITQ), la supervivencia entre los pacientes con LLA Ph+ a 5 años era de aproximadamente 5 a 20%, con una incidencia de Ph+ que aumenta acorde con la edad. La administración de los ITQ, de forma conjunta con la quimioterapia de alta intensidad, ha demostrado una mejoría muy notoria en los resultados en los pacientes con LLA Ph+(37). 

			p Uno de los primeros reportes de quimioterapia + ITQ, fueron realizados con HyperCVAD + Imatinib. Este ensayo clínico comparó los resultados de pacientes con diagnóstico de LLA pH+ que fueron tratados con quimioterapia VAD, HyperCVAD (con o sin rituximab) e HyperCVAD + Imatinib, con tasas de respuesta de 52%, 66% y 93% respectivamente, después de un solo ciclo de quimioterapia (p=0,01). Además, la adición de Imatinib al tradicional HyperCVAD se tradujo en una mejoría de la supervivencia global de 54 vs 15% a 3 años (38). 

			p Después de conocerse resultados de este tipo, con un impacto notorio en supervivencia global, era claro que los ITQ debían convertirse en parte fundamental de los protocolos de quimioterapia en pacientes con LLA Ph+.

			p Estudios con la implementación de ITQ de segunda generación como el dasatinib se realizaron, bajo la perspectiva de un ITQ con un perfil de resistencia superior al Imatinib, además de su conocida penetración a sistema nervioso central por su capacidad de atravesar la barrera hematoencefalica. En el análisis de pacientes con HyperCVAD + Dasatinib, 72 pacientes fueron analizados, con una mediana de 55 años de edad. Se documentó 96% de respuestas completas, de los cuales el 83% habían alcanzado también una respuesta citogenética después de un solo ciclo, y el 93% alcanzaron una respuesta molecular mayor a las 4 semanas. Importante, saber que el 94% de los pacientes alcanzaron EMR negativa (evaluada por citometría de flujo) con una mediana de 3 semanas. La mediana de supervivencia libre de enfermedad y supervivencia global fueron 31 y 47 meses respectivamente(39). A pesar que las respuestas son muy buenas con la adición del Dasatinib al protocolo HyperCVAD, el perfil de toxicidad de Dasatinib, se ve reflejado en los eventos adversos asociados en este protocolo, los cuales fueron sangrado por inhibición de la agregación plaquetaria, derrame pleural y pericárdico y elevación de transaminasas, evidente también en los estudios de leucemia mieloide crónica (2,40–42).

			p El grupo francés, realizó estudios prospectivos evaluando la eficacia de los protocolos GRAALL, con la adición de ITQ al régimen de quimioterapia para establecer tasas de respuesta y perfil de seguridad. El estudio GRAAPH2003 evaluó los resultados de la adición de Imatinib + GRAALL2003, en 45 pacientes con LLA Ph+ de Novo, demostrando una superioridad en supervivencia global comparado a cohortes previas como las evaluadas en el LALA-94, de 52% vs 20% a 4 años respectivamente (p=0,001). Sin embargo lo más llamativo de este análisis es que dentro de los pacientes que fueron llevados a trasplante de médula ósea(con la indicación del “alto riesgo” conferido por la presencia del cromosoma filadelfia), el 50% de los llevados a trasplante alogénico, 33% sin trasplante y 80% de los pacientes con trasplante Autólogo permanecían vivos al momento de último contacto (43).

			p El estudio, también del grupo francés, conocido como GRAAPH2005, demostró como un régimen de quimioterapia de intensidad reducida, con la adición del Imatinib, podría igualar las respuestas en los pacientes con quimioterapia de alta intensidad + ITQ, con una menor toxicidad y complicaciones. En este estudio, compararon altas dosis de Imatinib + Quimioterapia de intensidad reducida Vs HyperCVAD + Imatinib. 268 pacientes fueron evaluados. Se encontró un 98% Vs 91% de respuestas completas, en el brazo de GRAAPH Vs HyperCVAD + Imatinib (p= 0,006), dado por una menor mortalidad en la inducción. Las tasas de respuesta molecular mayor fueron similares (66% vs 54%), se encontró una supervivencia global muy similar también a 5 años del 45,6%. Si bien, en este estudio se encontró un beneficio claro del trasplante alogénico traducido en una mejoría del periodo libre de enfermedad y supervivencia global, es interesante recalcar que dentro del grupo de pacientes que alcanzaron respuesta molecular mayor, que no disponían de donante para ser llevados a trasplante alogénico, fueron llevados a trasplante Autólogo. El análisis realizado en los pacientes con respuesta molecular mayor que fueron llevados ya sea a trasplante Autólogo o alogénico, el resultado en términos de supervivencia global y periodo libre de enfermedad dentro de estos dos grupos fue el mismo. Este resultado podría atribuirse a una menor mortalidad NO asociada a recaída, del trasplante Autólogo(44). 

			p Las tasas de respuesta de los protocolos de quimioterapia para LLA Ph+, con la adición de Imatinib o Dasatinib documentadas en los estudios clínicos, demostraron una eficacia nunca antes evidenciada, igualando los resultados de LLA Ph+ a los reportados con los protocolos para LLA Ph-, considerando que el riesgo adverso generado por la presencia de Ph+, podría revertirse con el advenimiento de los ITQ. Sin embargo, existe un grupo de pacientes con resistencia a los ITQ que no responden ni a Imatinib ni dasatinib. En el estudio HyperCVAD + Dasatinib, también se documentó la mutación T315I del BCR/ABL en este grupo de pacientes, como factor de resistencia a los ITQ (40). 

			p El Ponatinib, es un potente ITQ de tercera generación, con actividad demostrada en leucemias Ph+ tanto para BCR/ABL1 “wild type” como para aquellos con mutación T315I (39,45). Un estudio fase 2 realizado por el MD Anderson Cáncer center, en Houston, Texas, analizó 76 pacientes con diagnóstico de Novo de LLA Ph+, tratados con HyperCVAD + Ponatinib. Con una mediana de 47 años fueron evaluados para tratamiento con HyperCVAD + Ponatinib, siendo este último dado a una dosis de 45 mg al día por los primeros 14 días de cada ciclo, y posteriormente 45 mg diarios por los demás ciclos. Sin embargo, después de haber tratado 37 pacientes, se hizo un enmiendo en el protocolo, cambiando la dosis a 30 mg diarios desde el ciclo 2, con una reducción adicional a 15 mg una vez el paciente alcanzara respuesta molecular completa (definida como una ausencia de cuantificación de BCR/ABL1). La supervivencia libre de eventos a 3 años fue del 70%. Los eventos adversos grado 3 o 4 más frecuentes, fueron la infección en un 86%, elevación de transaminasas en 70%, incremento de bilirrubina 17%, hipertensión 16%, sangrado 13%, rash cutáneo 12%. Sin embargo hubo 2 fallecimientos por infarto agudo del miocardio al parecer como consecuencia del uso temprano de Ponatinib, ya que después de la revisión del protocolo, en el que se ajustó la dosis de Ponatinib, no se presentó ningún otro fallecimiento (45).
					
					
			+progreso-modulo('progreso50')
					
			
			//- Material modulo
			+material-modulo('material-mod-3')
			
		//- progreso y contador
		+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=308544&chapterid=9151', 'back', 'Anterior', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=308544&chapterid=9153', 'forward', 'Siguiente')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			