include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc

	article.content-cc.article.materiales
	
		//- menu
		+menu
	
		div.container-txt
	
			//- titulo modulo
			+titulos-modulo('Módulo 3', 'Tratamiento de leucemia linfoblástica aguda')
			
			h3 Clinical practice guidelines in oncology / Acute lymphoblastic leukemia
					
			div.banner-video.wow.fadeInUp
				div.span12
					div#video
						div.embed-container
							iframe(src="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/leucemia-amgen/pdf/mod3/all-1.pdf" frameborder="0" allowfullscreen)
					
			
			//- Material modulo
			+material-modulo('material-mod-3')
			
		//- progreso y contador
		+menu-simple
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			